.DropdownItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
}

.DropdownItem i {
  margin-right: 8px;
}

.DropdownMenu {
  min-width: 150px;
}

.Absolute {
  position: absolute;
  right: 0;
  z-index: 99;
}
