.App {
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
  min-height: 100vh;
  background-image: url('../src/assets/images/bg_home.webp'); /* Add this line */
  background-size: cover; /* to make the image cover the entire element */
  background-position: center; /* to center the image */
  background-repeat: no-repeat; /* to prevent the image from repeating */
}
  
  * {
    box-sizing: border-box;
  }
  
  a {
    color: #555555;
    transition: color ease-in-out 0.3s;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:hover i {
    color: #FE940A;
    transition: color ease-in-out 0.3s;
  }
  
  i {
    color: #cfced3;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
  }
  
  i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #FE940A;
  }